h1 {
    font-family: Helvetica, sans-serif;
    font-size: 3em;
    text-align: center;
}

h2 {
    font-family: Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
}

p, li, a {
    font-family: Helvetica, sans-serif;
    font-size: 1em;
}

p, nav {
    margin-left: 1em;
}

body {
    background-color: wheat;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}